<div class="container-fluid">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="profileUpdate">Profile update</h4>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input
              id="dateOfBirth"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              [footerTemplate]="footerTemplate"
              #dp="ngbDatepicker"
              [(ngModel)]="savedDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-primary calendar"
                (click)="dp.toggle()"
                type="button"
              >
                Date
              </button>
            </div>
            <ng-template #footerTemplate>
              <hr class="my-0" />
              <button
                class="btn btn-primary btn-sm m-2 float-left"
                (click)="savedDate = today; dp.toggle()"
              >
                Today
              </button>
              <button
                class="btn btn-secondary btn-sm m-2 float-right"
                (click)="dp.toggle()"
              >
                Close
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click'); saveTheDate()"
      >
        Save
      </button>
    </div>
  </ng-template>

  <button class="btn btn-outline-primary shadow-none" (click)="open(content)">
    Launch My modal
  </button>

  <hr />

  <pre>{{ closeResult }}</pre>
  <p>{{ savedDate | json }}</p>
</div>
